.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.styles {
  margin-top: 10em;
  color: rgb(12, 2, 2);
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.loginButton {
  margin-bottom: 10px !important;
  margin-top: 20px !important
}
